# List Default Functions

In [4]:
lst=["virat","18","05 Nov","RCB"]

In [5]:
lst

['virat', '18', '05 Nov', 'RCB']

In [3]:
len(lst)

4

In [6]:
max(lst)

'virat'

In [7]:
min(lst)

'05 Nov'

In [6]:
lst.append('dhoni')

In [7]:
lst

['virat', '18', '05 Nov', 'RCB', 'dhoni']

In [8]:
lst.count(1)

0

In [17]:
lst.insert(1,"ipl")

In [19]:
lst.extend("2")

In [20]:
lst

['virat',
 'ipl',
 '18',
 '05 Nov',
 'RCB',
 'dhoni',
 't',
 '2',
 '0',
 't',
 '2',
 '0',
 '2']

In [21]:
lst.pop(2)

'18'

In [22]:
lst.pop(10)

'0'

In [23]:
lst

['virat', 'ipl', '05 Nov', 'RCB', 'dhoni', 't', '2', '0', 't', '2', '2']

In [25]:
lst.reverse()

In [26]:
lst

['2', '2', 't', '0', '2', 't', 'dhoni', 'RCB', '05 Nov', 'ipl', 'virat']

# Dictionary

In [51]:
dit= {"name":"rohit","age":"35","team":"mumbai"}

In [52]:
dit

{'name': 'rohit', 'age': '35', 'team': 'mumbai'}

In [36]:
dit.get('name')

'rohit'

In [37]:
dit.get('age')

'35'

In [40]:
dit.items()

dict_items([('name', 'rohit'), ('age', '35'), ('team', 'mumbai')])

In [45]:
len(dit)

3

In [62]:
dit.keys()

dict_keys(['name', 'age', 'team'])

In [63]:
dit.values()

dict_values(['rohit', '35', 'mumbai'])

# Sets

In [28]:
set = {"raina","csk",1,2,3,4,5}

In [29]:
set

{1, 2, 3, 4, 5, 'csk', 'raina'}

In [37]:
set1 = {"virat","rcb",6,3,68,9}

In [30]:
set

{1, 2, 3, 4, 5, 'csk', 'raina'}

In [38]:
set.difference(set,set1)

set()

In [39]:
set1.issubset(set)

False

In [40]:
set.isdisjoint(set1)

False

In [41]:
set.intersection(set1)

{3}

In [43]:
set.pop()

1

In [44]:
set.remove("csk")

In [45]:
set

{2, 3, 4, 5, 'raina'}

In [46]:
set.union(set1)

{2, 3, 4, 5, 6, 68, 9, 'raina', 'rcb', 'virat'}

# Tuple

In [65]:
tup = ("captain","rcb","virat")

In [66]:
tup

('captain', 'rcb', 'virat')

In [69]:
tup.count("rcb")

1

In [70]:
tup.index("virat")

2

# String

In [77]:
str = (" I love coding")

In [78]:
str

' I love coding'

In [81]:
strr = ("i love cricket")

In [83]:
strr

'i love cricket'

In [80]:
str.capitalize()

' i love coding'

In [85]:
strr.capitalize()

'I love cricket'

In [89]:
str.encode()

b' I love coding'

In [90]:
str.format()

' I love coding'

In [92]:
str.find("i")

11

In [93]:
str.islower()

False

In [96]:
str.replace("coding","CS")

' I love CS'